/* ####################################### */
/* ########### STANDARD SETUP ############ */
/* ####################################### */

.protoshow,
.protoshow .show {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 680px;
	height: 260px;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	height: 100%;
}

.active-slide {
	z-index: 100;
}

.protoshow .slide-caption {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	padding: 1em 10px;
	background-color: #000;
	background-color: rgba(0,0,0,.4);
	color:#fff;
}

.proto-progress-timer {
	position: absolute;
	top: 7px;
	right: 7px;
	z-index: 9999;
}


/* TRANSITION SLIDE
------------------------------------------------*/

.transition-slide .show-window {
	overflow: hidden;
	position: relative;
}

.transition-slide .show {
	position: absolute;
	top: 0;
	left: 0;
	width: 999999px;
}

.transition-slide .slide {
	position: static; /*overide*/
	float: left;
	display: block;
}


/* PROTO CONTROLS
------------------------------------------------*/

.proto-controls,
.proto-navigation {
	margin: 0;
	padding: 0;
	list-style-type: none !important;
}

.proto-controls a:link,
.proto-controls a:visited,
.proto-navigation a:link,
.proto-navigation a:visited {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
}

.proto-controls li {
	position: absolute;
	top: 50%;
	margin-top: -36px;
	left: 10px;
	width: 10%;
	height: 100%;
	z-index: 110;
}

.proto-controls .forward {
	right: 10px;
	left: auto;
}

.proto-controls a {
	width: 100%;
	height: 61px;
	background: url(../images/proto_controls_bg.png) no-repeat 0 0;
	opacity: 0.2;
	-moz-opacity: 0.2;
	filter:alpha(opacity=20);
}

.proto-controls a:hover,
.proto-controls a:focus {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

.proto-controls .forward a {
	background-position: 100% -90px;
}


/* PROTO NAVIGATION
------------------------------------------------*/

.proto-navigation {
	position: absolute;
    margin: 0 !important;
    padding: 0 !important;
  	top: 40%;
    right: 10px;
    float: right;
    z-index: 120;
}

.proto-navigation li {
    padding: 4px 6px;
    position: relative;
}

.proto-navigation a {
	background-color: #efefef;
	border: 1px solid #969696;
    height: 11px;
  	width: 11px;
    text-decoration: none;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
}

.proto-navigation a:hover,
.proto-navigation a:focus {
	background-color: #999;
}

.proto-navigation .current-slide a {
	background: rgb(252,252,252); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(144,144,144,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(144,144,144,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(144,144,144,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(144,144,144,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(144,144,144,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(144,144,144,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#909090',GradientType=0 ); /* IE6-9 */
}
